# Core
numpy==1.26.4
pandas==2.2.2
scikit-learn==1.4.2
scipy==1.12.0

# NLP
nltk==3.8.1

# Visualization
matplotlib==3.8.4

# API / App
Flask==2.3.3
waitress==2.1.2

# ML Ops
mlflow==2.9.2
dvc[s3]==3.48.4

# Utilities
python-dateutil
pytz
PyYAML
requests
tqdm

# Optional (only if needed)
# boto3
# s3fs